@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --cor01: #DDC24D;
    --cor02: #D22F2A;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
}

/*Cabeçalho*/

header>img {
    width: 100%;
}

/*Barra de nevegação*/

nav>h1 {
    display: none;
}

.menu a {
    color: #000000;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    transition: 0.3s;
}

.menu a:hover {
    text-decoration: underline;
    color: #D22F2A;
    border-radius: 8px;
}

nav {
    background-color: #DDC24D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    text-transform: capitalize;
    padding: 10px;
    font-weight: bold;
}

.menu li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/*Mobile Menu*/

.mobile-menu {
    display: none;
    cursor: pointer;
}

/*Informações Menu*/

#infos {
    display: none;
}

#infos.on {
    display: block;
    font-size: .5em;
    list-style: disc;
    line-height: 5px;
    padding: 10px;
    margin-top: 10px;
}

#infos.on a {
    color: #000000;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    transition: 0.3s;
}

#infos.on a:hover {
    text-decoration: underline;
    color: #D22F2A;
    border-radius: 8px;
}


/*Imagem rolante*/

section.img {
    padding-top: 5%;
    padding-bottom: 5%;
    background: fixed;
}

section#img01 {
    background-image: url('../imagens/imagem02.jpeg');
    background-position: center center;
    background-size: cover;
}

/*DIVs*/

#container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 20px;
    max-width: 980px;
    margin: 0 auto;

}

#container>div {
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    width: 300px;
}

#container>div>img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#container p {
    text-align: center;
    font-weight: bold;
}

#container .saber {
    background-color: #77777759;
    text-align: center;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.saber:hover {
    color: var(--cor02);
    text-decoration: underline;
    font-weight: bold;
}

#container .saber>a {
    text-decoration: none;
    color: black;
}

/*footer*/

footer>div {
    background-color: var(--cor01);
    color: black;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

footer>div>p {
    padding-top: 5px;
    padding-bottom: 5px;
}

#tempo,
.hora {
    text-align: left;
}

/*Scrollbar*/

::-webkit-scrollbar {
    display: block;
    background-color: #a0a0a0;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 10px;
}

/*Responsividade*/

@media (max-width: 641px) {

    header>img {
        display: none;
    }

    #container>div {
        width: 500px;
    }

    section#img01 {
        background-image: none;
    }

    nav {
        background-color: #DDC24D;
        width: 100%;
        height: 6.5vh;
    }

    .menu {
        display: none;
    }

    nav.active>.menu {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;

    }

    nav.active>.menu li {
        margin-bottom: 30px;
        font-size: 1.5em;
    }

    nav.active>.menu ul a {
        display: block;
        transition-duration: 0.5s;
    }

    .line1,
    .line2,
    .line3 {
        background-color: #000000;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .mobile {
        width: 40px;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 5px;
    }

    .mobile-menu>h1 {
        display: flex;
        margin-left: 10px;
        font-size: 2em;
        font-family: 'Kanit', sans-serif;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
    }

    nav.active .mobile-menu {
        background-color: #DDC24D;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    nav.active .mobile .line1 {
        transform: rotate(45deg) translate(7px, 7px);
    }

    nav.active .mobile .line2 {
        opacity: 0;
    }

    nav.active .mobile .line3 {
        transform: rotate(-45deg) translate(8px, -9px);
    }
}